.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.business-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    width: 300px;
    transition: transform 0.2s;
}

.business-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    margin-bottom: 1rem;
}

.card-title {
    margin: 0;
    color: #4CAF50;
}



.card-category {
    margin: 0.5rem 0;
    color: var(--lumo-secondary-text-color);
}

.card-description {
    margin: 0;
    max-height: 3em;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.card-description.expanded {
    max-height: 1000px;
    transition: max-height 0.3s ease-in;
}

.expand-button {
    color: black;
    background: none;
    border: none;
    padding: 0;
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 1rem;
}



.card-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.card-actions vaadin-button {
    color: #4CAF50;
    font-weight: 500;
}

.card-actions vaadin-button:hover {
    background-color: rgba(76, 175, 80, 0.1);
}


.card-address-header {
    margin: 0.5rem 0;
    font-weight: bold;
}

.card-cuisine-type {
    font-size: 0.8rem;
    color: var(--lumo-secondary-text-color);
    margin: 0;
}

.card-address {
    margin: 0;
    font-size: 0.9em;
}

.card-website-icon, .card-phone-icon, .card-address-icon {
    color: #4CAF50;
    margin-right: 0.5rem;
}

.card-website {
    font-size: 0.9rem;
    color: #4CAF50;
    margin-top: 0.5rem;
}

.card-website a:where(:any-link){
    color: black;
}

.card-phone-number {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
