.tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tabs-container .tab {
    color: red;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.tabs-container .tab.active {
    border-bottom: 2px solid #007bff;
}